
nav {
  background-color: yellow;
  height: 80px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family：sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px;
  width: 100%;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}
